// src/mods/zoning-toolkit-panel.module.scss
// Floating, draggable Zone Tools panel styling.
// Keep minimal so vanilla handles visuals/layout as much as possible.


.panel {
    position: absolute;
    /* Default: bottom-right, but nudged left a bit */
    /* Move more left: increase right, Move more up: increase bottom  */
    right: 285rem;
    bottom: 125rem;
    /* Make sure old top-based placement can’t interfere */
    top: auto;
    left: auto;
    max-width: 300rem;
    user-select: none;
}

.panelToolModeRow {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    gap: 4rem;
}

.rowLabelNoWrap {
    white-space: nowrap;
}
