// src/mods/zoning-toolkit-panel.module.scss
// Floating, draggable Zone Tools panel styling.
// Keep minimal so vanilla handles visuals/layout as much as possible.

.panel {
    position: absolute;
    /* Default: bottom-right, nudged left/up to avoid toolbars */
    right: 285rem;
    bottom: 125rem;
    top: auto;
    left: auto;
    max-width: 300rem;
    user-select: none;
}

.panelToolModeRow {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    gap: 4rem;
}

.rowLabelNoWrap {
    white-space: nowrap;
}
